@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen de Inssoft</h1>
    <p>Esta es mi aplicación en MVC Core, para dar de alta los usuarios, adicional agregué un par de acciones.</p>
</div>
