@model PruebaInssoft.Models.Usuario
@{
    ViewData["Title"] = "Usuario";
}

<h2>Usuario</h2>

<p>Hello from our View Template!</p>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nombre">Nombre:</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>    
    <div class="form-group">
        <label asp-for="ApPaterno">Apellido Paterno</label>
        <input asp-for="ApPaterno" class="form-control" />
        <span asp-validation-for="ApPaterno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ApMaterno">Apellido Materno</label>
        <input asp-for="ApMaterno" class="form-control" />
        <span asp-validation-for="ApMaterno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>   
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>